extends ../index.pug

block variables
    - var template = 'threejs'

block content
    .threejs visit 
        span.siteLink latenightcoders.club 
        span and join the community
    .threejs__canvas__container